/* import style files */
@import "header.css";
@import "tables.css";
@import "main_body.css";
@import "footer.css";

/* reset default style  */
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* font face */
@font-face{
    font-family: openSans;
    src: url(../fonts/OpenSans.ttf) format(ttf);
}
/* colors */
:root{
    --b-color: #333333;
    --f-color: #c0c0c0;
    --h-color: #1a1a1a;
    --a-color: #292929;
    --b-color: #333;
}
/* font size */
:root{  
    --S: 10px;
    --SM: 15px;
    --M: 20px;
    --L: 30px;
    --XL: 40px;
}
/* active */
.active{
    border-bottom: solid 2px gold;
}